# Amazon

In [4]:
import pandas as pd


def read_bench_data(files) -> pd.DataFrame:
    df = pd.DataFrame()
    for file in files:
        df = pd.concat([df, pd.read_csv(file)])
    return df


data = read_bench_data(
    [
        "/home/joao/Code/crc/benchmarks/results/algo1/Amazon0302-1.csv",
        "/home/joao/Code/crc/benchmarks/results/algo2/Amazon0302-1.csv",
    ]
)

data.head()

   1    0   1
0  2  0.0 NaN
1  3  0.0 NaN
2  4  0.0 NaN
3  5  0.0 NaN
4  6  0.0 NaN